<form action="/edit" method="post"> 

    <input type="text" name="name" id="" value="<%= todo.name %>">
    <input type="text" name="id" value="<%=todo._id %>" hidden>

    <button type="submit"> Update</button>

</form>