<form action="/edit" method="post">

    <input type="text" name="name" id="" placeholder="<%= todo.name %>">

    <input type="text" name="id" id="<%= todo.id %>" hidden>

    <button type="submit"> Update</button>

</form>