
<% if(typeof error !== undefined) { %>
    <%= error %>
    <a href="/">Go back to homepage</a>
<% } %>




<!-- 
<div class="danger"><%= error %>
<% if(error !== null) {  %>


    <%= error %>

<% } %>

</div> -->